if SHIELD_AHHBOARD_LEFT

config ZMK_KEYBOARD_NAME
    default "ahhboard"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_AHHBOARD_LEFT || SHIELD_AHHBOARD_RIGHT

config ZMK_SPLIT
    default y

endif